# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.LiteDb.Identity.Async.iml
# Datasource local storage ignored files
/../../../../../../../:\RiderProjects\Nuget\LiteDb.Identity.Async\.idea\.idea.LiteDb.Identity.Async.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
