# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LiteDB.Identity.Async.Project.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\RiderProjects\Nuget\LiteDB.Identity.Async.Project\.idea\.idea.LiteDB.Identity.Async.Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
